 .back-ground {
     background-color: #f1f1f1;
 }

 .bac-bg-slide {
     background-color: #FEEAE9;
 }

 .g-font {
     font-style: normal;
     font-size: 16px;
 }

 .shoes-bg {
     background-color: #f4f4f4b6;
     ;
 }

 .foo-bg {
     background-color: #d89e9a;
 }